<%- include('../partials/header') %>

<div class="property-container">
  <% properties.forEach(function(property) { %>
    <div class="property-card">
      <img src="<%= property.photo %>" alt="Property Image">
      <h3><%= property.title %></h3>
      <p>$<%= property.price %></p>
      <a href="/properties/<%= property._id %>">View Property</a>
    </div>
  <% }); %>
</div>

<%- include('../partials/footer') %>
