<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>photo</th>
      <th>title</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <% properties.forEach(function(property) { %>
      <tr>
        <td><img src="<%= property.photo %>"></td>
        <td><%= property.title %></td>
        <td><%= property.price %></td>
        <td><a href="/properties/<%= property._id %>/details"><%= property.title %></a></td>

      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
