<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>photo</th>
        <th>title</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
      <% properties.forEach(function(m) { %>
        <tr>
          <td>< img src="<%= p.photo %>"></td>
          <td><%= p.title %></td>
          <td><%= p.price %></td>
          <td><a href="/properties/<%= p._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>
