<!-- views/properties/show.ejs -->
<link rel='stylesheet' href='/public/stylesheets/style.css' />
<h1><%= property.title %></h1>

<p><strong>Address:</strong> <%= property.address %></p>
<p><strong>State:</strong> <%= property.state %></p>
<p><strong>City:</strong> <%= property.city %></p>
<p><strong>Postal Code:</strong> <%= property.zip %></p>

<p><strong>Description:</strong> <%= property.description %></p>

<p><strong>Price:</strong> <%= property.price %></p>

<p><strong>Bedrooms:</strong> <%= property.beds %></p>

<p><strong>Bathrooms:</strong> <%= property.baths %></p>

<p><strong>Photos:</strong> <%= property.photo %></p>



<a href="/properties/<%= property._id %>/edit">Edit</a>
<form action="/properties/<%= property._id %>/?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
